<div class="container">
    <hr>
    <footer>
      <div class="row ">
        <div class="col-lg-12" style="height:200px;color:white;">

            <div style="font: large;color:white">
             
              <div><a routerLink='/about-us' style="font-size: large;color:white">About Us</a></div>

             <div> <a routerLink='/contact-us' style="font-size: large;color:white">Contact Us</a></div>
            </div>
          <p style="text-align: center">Copyright ©CDAC  FEB2020 AUTOHAVEN.<br>
            All Rights Reserved.</p>
        </div>
      </div>
    </footer>
  </div>