<app-navbar></app-navbar>
<div class=container>
    
    <div class="row  mb-2">
        
        <div class="card m-3" style="max-width: 740px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="./assets/MarutiSuzukiSwift.jpg" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Maruti Suzuki Swift</h5>
                  <p class="card-text">The Maruti Suzuki Swift is currently offered with an 83PS 1.2-litre petrol engine. It can be had with either a 5-speed manual or a 5-speed AMT, which Maruti calls AGS (Auto-gear Shift). 
                    The petrol engine is a BS6-compliant unit and has a claimed efficiency of 21.21kmpl. The Swift is 3840mm long, 1520mm wide, and 1530mm tall.</p>
                  <p class="card-text"><small class="text-muted"> priced from Rs 5.19 lakh</small></p>
                </div>
              </div>
            </div>
          </div>

          <div class="card m-3" style="max-width: 740px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="\assets\Kia Seltos.jpg" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"> Kia Seltos </h5>
                  <p class="card-text">Features include a 10.25-inch touchscreen with Android Auto and
                     Apple CarPlay, climate control, a wireless phone charger, cruise control, a Bose sound system, ambient lighting, and a heads-up display. Safety features on offer are six airbags, ABS with EBD, front and rear parking sensors, electronic stability control, and a 360-degree camera. 

                  </p>
                  <p class="card-text"><small class="text-muted"> Kia Seltos 2020 is priced from Rs 9.89 lakh to Rs 17.34 lakh.
                  </small></p>
                </div>
              </div>
            </div>
          </div>

          <div class="card m-3" style="max-width: 740px;">
            <div class="row no-gutters">
              <div class="col-md-4 mt-5">
                <img src="/assets/HyundaiCreta.jpeg" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">HYUNDAI CRETA</h5>
                  <p class="card-text">
                     It is equipped with LED headlamps and taillamps, 17-inch dual-tone alloy wheels, and LED taillamps. 
                     The Creta’s interior is all-new as well, with climate control, a panoramic sunroof, ventilated front seats,
                      a Bose sound system, cruise control, and a semi-digital instrument cluster. Its 10.25-inch 
                      touchscreen infotainment system features BlueLink connected car features with voice commands as well as
                       Android Auto and Apple CarPlay. 
                    The SUV can be remotely monitored and some of its functions can be operated too.</p>
                  <p class="card-text"><small class="text-muted">Hyundai Creta is a 5-seater SUV which costs between Rs 9.99 lakh and Rs 17.20 lakh </small></p>
                </div>
              </div>
            </div>
          </div>
         </div> 
   
    <div class="row  mb-2">
        
        <div class="card m-3" style="max-width: 740px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="\assets\Maruti Baleno.jpg" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"> MARUTI BALENO</h5>
                  <p class="card-text">
                    Maruti Suzuki offers the Baleno with two petrol engine options: a 83PS 1.2-litre K12B unit and a 90PS 1.2-litre Dual Jet engine. The latter also comes with a mild hybrid system that packs features like torque assist and start-stop functions. Both engines are offered with a 5-speed manual transmission. However, if you want an automatic Baleno, the CVT is offered with the standard 1.2-litre K12B engine only. In terms of dimensions, the Baleno is 3995mm long, 1745mm wide, 1510mm tall and has a 2520mm long wheelbase.
                    </p>
                  <p class="card-text"><small class="text-muted">Rs. 5.63 Lakh to 8.96 Lakh in India.</small></p>
                </div>
              </div>
            </div>
          </div>

          <div class="card m-3" style="max-width: 740px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="/assets/TATA Altroz.jpeg" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">TATA ALTROZ</h5>
                  <p class="card-text">The Altroz is powered by BS6-compliant 1.2-litre petrol and 1.5-litre diesel engines. The petrol engine delivers 85PS and 114Nm, whereas the diesel motor produces 90PS and 200Nm. Both engines are paired to a 5-speed manual gearbox.
                     The Altroz gets a boot space of 347 litres along with a ground clearance of 165mm.</p>
                  <p class="card-text"><small class="text-muted">Rs 6.84 lakh and Rs 8.44 lakh for petrol and diesel variants respectively.</small></p>
                </div>
              </div>
            </div>
          </div>

          <div class="card m-3" style="max-width: 740px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="\assets\Hyundai Elite i20.jpg" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">HYUNDAI ELITE i20</h5>
                  <p class="card-text">The Elite i20 diesel came with a 1.4-litre CRDI engine that developed 90PS of power and 220Nm of torque. It was offered with a 6-speed manual transmission only. The i20’s 1.4-litre unit was known for its extremely refined nature and linear power delivery. The i20 is currently offered with a BS6-compliant 1.2-litre Kappa petrol engine that develops 83PS of power and 113Nm of torque.</p>
                  <p class="card-text"><small class="text-muted">priced from Rs 6.50 lakh (ex-showroom)</small></p>
                </div>
              </div>
            </div>
          </div>
         </div> 
    
         <div class="row" style="height:20%">

           <h3 style="margin-top:1rem">Our Most Famous Brands !</h3>
             <img src="assets/brands.jpeg" alt="brands" style="height:100%;width:100%;object-fit:cover;"
             />
           
         </div>
    
    <app-footer></app-footer>
</div>

